/.venv
/.vscode
/summary.txt
/summary10.txt
/The document is a summary of the book tr.docx
/The document is a summary of the book tr.pdf
/The document is a summary of the book.docx
/Şevket Pamuk - Osmanlı Ekonomisinde Bağımlılık ve Büyüme.docx
/Şevket Pamuk - Osmanlı Ekonomisinde Bağımlılık ve Büyüme.pdf